
{% extends 'share/students/base.html'%}
{% load static %}

{% block title%} Dashboard {% endblock %}

{% block style %}

<style>
    .img-link img:hover{
        transition:0.2s;
        opacity: 0.9;
    }
</style>

{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h3 mb-0 text-gray-800" style="font-size: 25px;">Paper Details</h2>
    </div>  
    <!-- End Of page heading --> 
    {% if view_allowed %}
        <div class="files-container">
                <div class="row">
                    <div class="col-md-8 mb-4">
                        
                        <a href="#" class="img-link">
                            <img src="{{ file.cover_image.url }}" alt="" style="width: 100%; object-fit: cover; border-radius:10px;">
                        </a>
                        <div class="mt-2 ">
                            <a href="#" style="font-weight: 700;">
                                {{ file.title }}
                            </a>
                        </div>
                        <div class="mt-2 " style="font-weight: 500; color: black;">
                            {{ file.description }}
                        </div>
                        <div class="mt-3 ">
                            <span style="font-weight: 700; color: black;" >
                                Comments Section:
                            </span>
                        </div>
                        <div class="comments-container">
                            {% if file_comments %}
                                {% for comment in file_comments %}
                                    <div class="comment mt-4">
                                        <div class="name-avatar">
                                            <img src="{% static 'images/users/prfl.jpg' %}" style="width: 50px; height:50px; object-fit: cover; border: 1px solid #667080; border-radius: 50px;">
                                            <strong style="color: black;">{{ comment.user }}</strong>
                                        </div>
                                        <div class="message" style="font-weight: 500; color: black;">
                                            {{ comment.comment }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="comment-area mt-3">
                            <form method="POST" action="{% url 'save_comment' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ file.id }}" name="file_id">
                                <textarea name="message" id="" cols="30" rows="10" class="form-control" placeholder="Enter your comment here"></textarea>
                                <button type="submit" class="btn btn-primary px-2 py-2 mt-2 mb-2">
                                    Send comment
                                </button>
                            </form>
                        </div>
                    </div>  
                    <div class="col-md-4">
                        <a href="{{file.file_link.url}}" class="mb-3" target="blank">
                            <button class="btn btn-primary px-4 py-2">
                                Download File
                            </button>
                        </a>
                        <div class="mt-2">
                            <strong>Status:</strong> <br>
                            {% if file.is_public %}
                            <div>
                                <i class="fa fa-globe" style="color: #04AA6D;"></i> <strong style="color:#04AA6D;">Public</strong>
                            </div>
                            {% else %}
                            <div>
                                <i class="fa fa-ban" style="color: #9b0000;"></i> <strong class="text-danger">Private</strong>
                            </div>
                            {% endif %}
                        </div>
                        <div class="mt-2">
                            <strong>Subject Code:</strong> <br>
                            {{ file.subject.subject_code }}
                        </div>
                        <div class="mt-2">
                            <strong>Subject Name:</strong> <br>
                            {{ file.subject.name }}
                        </div>
                        <div class="mt-2">
                            <strong>Uploaded by:</strong> <br>
                            <img src="{% static 'images/users/prfl.jpg' %}" style="width: 50px; height:50px; object-fit: cover; border: 1px solid #667080; border-radius: 50px;">
                            <strong style="color: black;">{{ file.user }}</strong>
                        </div>
                    </div>
                </div>
            </div>
    {% else %}
        <div class="alert alert-success p-4">
            <strong>
                <h6>You dont have permission to view this file.</h6> 
                <a href="{% url 'send_request' file.id %}" onclick="return confirm('Are you sure you want to request permission for {{ file.title}} ?')">
                    <button class="btn btn-primary">
                        Request Permission
                    </button>
                </a>
            </strong>
        </div>
    {% endif %}
    
            
</div>
{% endblock %}
