
{% extends 'share/students/base.html'%}
{% load static %}

{% block title%} SENT REQUEST {% endblock %}

{% block style %}
<style>
td{
    vertical-align: middle !important;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h3 mb-0 text-gray-800" style="font-size: 25px;">Sent Request</h2>
    </div>  
    <!-- End Of page heading --> 

    <div class="table-container">
        {% if total_requests >= 1 %}
        <table class="table table-hover table-collapse">
            <thead>
                <tr>
                    <th>REQUESTED TO</th>
                    <th>PAPERS REQUESTED</th>
                    <th>SUBJECT</th>
                    <th>STATUS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                    {% for request in requests %}
                        <tr>
                            <td>
                                <strong style="font-weight:700;">{{ request.file_link.user }} </strong> <br> ({{request.file_link.user.student.faculty}})
                            </td>
                            <td>
                                <a href="{% url 'file_details' request.file_link.id %}">
                                    {{ request.file_link.title}}
                                </a>
                            </td>
                            <td>{{ request.file_link.subject}}</td>
                            <td>
                                {% if request.status == 1 %}
                                <span class="badge badge-success p-2">
                                    &nbsp;Approved&nbsp;&nbsp;
                                </span>
                                {% elif request.status == 2 %}
                                    <span class="badge badge-danger p-2">
                                        &nbsp;Rejected&nbsp;&nbsp;
                                    </span>
                                {% else %}
                                    <span class="badge badge-info p-2">
                                        &nbsp;Pending&nbsp;&nbsp;
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'request_cancel' request.id %}" onclick="return confirm('Are you sure you want to cancel this request.')">
                                    <button class="btn btn-primary font-500 btn-sm">
                                        Cancel Request
                                    </button>
                                </a>
        
                            </td>
                        </tr>
                    {% endfor %}
                
            </tbody>
        </table>
        
        {% else %}
            <div class="alert alert-success p-4">
                <strong>
                    <h6>No request you have sent</h6>
                </strong>
            </div>
        {% endif %}
    </div>
    
            
</div>
{% endblock %}
