
{% extends 'share/admin/base.html'%}
{% load static %}

{% block title%} Faculties {% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Faculties</h1>
        <a href="{% url 'add_faculty' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Add Faculty</a>
    </div>  
    <!-- End Of page heading --> 
    <table class="table table-hover table-collapse" id="subject_table">
        <thead>
            <tr>
                <th>
                    NAME
                </th>
                <th>
                    CREATED AT
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if faculties %}
                {% for faculty in faculties %}
                <tr>
                    <td>
                        {{ faculty.name }}
                    </td>
                    <td>
                        {{ faculty.created_at }}
                    </td>
                    <td>
                        <a href="{% url 'update_faculty' faculty.id %}">
                            <button class="btn btn-primary font-500 btn-sm">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            
        </tbody>
    </table>          
</div>
{% endblock %}

